BACKUP/flows (1).json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7c459cfe56e804ca","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7d3d52c3cca66673","type":"tab","label":"Fluxo 1","disabled":false,"info":"","env":[]},{"id":"7108270d35af4e25","type":"tab","label":"Fluxo 2","disabled":false,"info":"","env":[]},{"id":"45907ed709d3bbf4","type":"tab","label":"Fluxo 3","disabled":false,"info":"","env":[]},{"id":"15317114a7e18c4d","type":"tab","label":"Fluxo 4","disabled":false,"info":"","env":[]},{"id":"c7c440ecee907420","type":"group","z":"15317114a7e18c4d","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["1a0d5d6e76199802"],"x":234,"y":1199,"w":212,"h":82},{"id":"88e35bbaca7b2285","type":"mqtt-broker","name":"Broker Bancada","broker":"10.77.241.113","port":"1887","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"66d97b7b173c707b","type":"MySQLdatabase","name":"MySql_DB","host":"10.77.241.51","port":"3307","db":"sa_bancada","tz":"","charset":"UTF8"},{"id":"432599265ac92a5b","type":"ui-base","name":"My Dashboard","path":"/dashboard","appIcon":"","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false,"headerContent":"page","navigationStyle":"default","titleBarStyle":"default","showReconnectNotification":true,"notificationDisplayTime":1,"showDisconnectNotification":true,"allowInstall":false},{"id":"3a898c3751668605","type":"ui-theme","name":"Default Theme","colors":{"surface":"#ffffff","primary":"#0094CE","bgPage":"#eeeeee","groupBg":"#ffffff","groupOutline":"#cccccc"},"sizes":{"density":"default","pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"12px"}},{"id":"1f07f70e59cc1c12","type":"ui-page","name":"Page 1","ui":"432599265ac92a5b","path":"/page1","icon":"home","layout":"grid","theme":"3a898c3751668605","breakpoints":[{"name":"Default","px":0,"cols":3},{"name":"Tablet","px":576,"cols":6},{"name":"Small Desktop","px":768,"cols":9},{"name":"Desktop","px":1024,"cols":12}],"order":1,"className":"","visible":true,"disabled":false},{"id":"ee15e5240c832c78","type":"ui-group","name":"Group 1","page":"1f07f70e59cc1c12","width":6,"height":1,"order":1,"showTitle":true,"className":"","visible":true,"disabled":false,"groupType":"default"},{"id":"3cc11d24.ff01a2","type":"comment","z":"f6f2187d.f17ca8","name":"WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work","info":"\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.","x":350,"y":80,"wires":[]},{"id":"3f8f93aad63e2c4b","type":"mqtt in","z":"7c459cfe56e804ca","name":"","topic":"/smartsense/estoque","qos":"0","datatype":"auto-detect","broker":"88e35bbaca7b2285","nl":false,"rap":true,"rh":0,"inputs":0,"x":170,"y":160,"wires":[["24e731618cc78972"]]},{"id":"c8c1391ff655878a","type":"debug","z":"7c459cfe56e804ca","name":"debug 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":160,"wires":[]},{"id":"24e731618cc78972","type":"function","z":"7c459cfe56e804ca","name":"Remove o status do objeto","func":"//armazena o payload em uma variável\nlet dados = msg.payload;\n\n// Cria um novo objeto SEM o status\nlet sem_status = {\n    timestamp:dados.timestamp,\n    data:dados.data\n}\n\n//Retorna a carga para dentro do payload\nmsg.payload = sem_status;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":160,"wires":[["c8c1391ff655878a","11f2b3b0adce60ba"]]},{"id":"a3c2afaa49892b6f","type":"http in","z":"7c459cfe56e804ca","name":"[Requisição] Smartsense Estoque","url":"/api/smartsense/estoque","method":"get","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":180,"y":520,"wires":[["64f84745dca984fc"]]},{"id":"b96d7dce31bb8da0","type":"http response","z":"7c459cfe56e804ca","name":"[Response] Smartsense Estoque","statusCode":"200","headers":{},"x":740,"y":520,"wires":[]},{"id":"f2bbcf846fa07da0","type":"debug","z":"7c459cfe56e804ca","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1000,"y":260,"wires":[]},{"id":"11f2b3b0adce60ba","type":"function","z":"7c459cfe56e804ca","name":"function 6","func":"let bancada = msg.payload\nmsg.topic = `insert into Bancadas(nome,irms,vrms,appm,humi,ai00,is_ativo)\nvalues(\"Estoque\",\"${bancada.irms}\",\"${bancada.vrms}\",\"${bancada.appm}\",\"${bancada.humi},\"${bancada.ai00}\",\"true\")`\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":280,"wires":[["5cd1a94c4436147b"]]},{"id":"5cd1a94c4436147b","type":"mysql","z":"7c459cfe56e804ca","mydb":"66d97b7b173c707b","name":"Executar_MYSQL","x":950,"y":360,"wires":[["f2bbcf846fa07da0"]]},{"id":"64f84745dca984fc","type":"function","z":"7c459cfe56e804ca","name":"Select_Estoque","func":"msg.topic = \"Select from Bancadas where nome='estoque'\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":600,"wires":[["701e8357295b9b4b"]]},{"id":"701e8357295b9b4b","type":"mysql","z":"7c459cfe56e804ca","mydb":"66d97b7b173c707b","name":"Executar_MYSQL","x":510,"y":600,"wires":[["b96d7dce31bb8da0"]]},{"id":"a297fe928b693ae0","type":"mqtt in","z":"7d3d52c3cca66673","name":"","topic":"/smartsense/processo","qos":"2","datatype":"auto-detect","broker":"88e35bbaca7b2285","nl":false,"rap":true,"rh":0,"inputs":0,"x":240,"y":140,"wires":[["e5dd56f62b9d65a5"]]},{"id":"e5dd56f62b9d65a5","type":"function","z":"7d3d52c3cca66673","name":"Remove o status do objeto","func":"//armazena o payload em uma variável\nlet dados = msg.payload;\n\n// Cria um novo objeto SEM o status\nlet sem_status = {\n    timestamp:dados.timestamp,\n    data:dados.data\n}\n\n//Retorna a carga para dentro do payload\nmsg.payload = sem_status\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":140,"wires":[["81705d3248e899f6","a60e54e8abd1ee70"]]},{"id":"81705d3248e899f6","type":"debug","z":"7d3d52c3cca66673","name":"debug 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":140,"wires":[]},{"id":"01d8bba29c2a0aa0","type":"http in","z":"7d3d52c3cca66673","name":"[Requisição] Smartsense Processo","url":"/api/smartsense/processo","method":"get","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":340,"y":540,"wires":[["6dc4c160b952dc16"]]},{"id":"745328368af70e37","type":"http response","z":"7d3d52c3cca66673","name":"[Response] SmartsenseProcesso","statusCode":"200","headers":{},"x":760,"y":560,"wires":[]},{"id":"b84d96039ca78fa4","type":"debug","z":"7d3d52c3cca66673","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":200,"wires":[]},{"id":"a60e54e8abd1ee70","type":"function","z":"7d3d52c3cca66673","name":"function 5","func":"let bancada = msg.payload\nmsg.topic = `insert into Bancadas(nome,vrms,irms,appm,humi,ai00,is_ativo)\nvalues(\"Processo\",\"${bancada.vrms}\",\"${bancada.irms}\",\"${bancada.appm},\"${bancada.humi}\",\"${bancada.ai00}\",\"true\")`\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":280,"wires":[["8710eb0622a54dc2"]]},{"id":"8710eb0622a54dc2","type":"mysql","z":"7d3d52c3cca66673","mydb":"66d97b7b173c707b","name":"Executar_MYSQL","x":1050,"y":400,"wires":[["b84d96039ca78fa4"]]},{"id":"c949018d18d74b98","type":"mysql","z":"7d3d52c3cca66673","mydb":"66d97b7b173c707b","name":"Executar_MySQL","x":770,"y":660,"wires":[["745328368af70e37"]]},{"id":"6dc4c160b952dc16","type":"function","z":"7d3d52c3cca66673","name":"Select_Processo","func":"msg.topic = \"select from Bancadas where nome= 'processo'\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":620,"wires":[["c949018d18d74b98"]]},{"id":"291803044f4e5070","type":"mqtt in","z":"7108270d35af4e25","name":"","topic":"/smartsense/montagem","qos":"2","datatype":"auto-detect","broker":"88e35bbaca7b2285","nl":false,"rap":true,"rh":0,"inputs":0,"x":180,"y":180,"wires":[["cff7bad15d113966"]]},{"id":"cff7bad15d113966","type":"function","z":"7108270d35af4e25","name":"Remove o status do objeto","func":"//armazena o payload em uma variável\nlet dados = msg.payload;\n\n// Cria um novo objeto SEM o status\nlet sem_status = {\n    timestamp:dados.timestamp,\n    data:dados.data\n}\n\n//Retorna a carga para dentro do payload\nmsg.payload = sem_status\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":180,"wires":[["7eadb6b0ab053e2d","8e0aa9fdb7954fc1"]]},{"id":"7eadb6b0ab053e2d","type":"debug","z":"7108270d35af4e25","name":"debug 5","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":180,"wires":[]},{"id":"ea44c70e9a3582bd","type":"http in","z":"7108270d35af4e25","name":"[Requisição] SmartSense Montagem","url":"/api/smartsense/montagem","method":"get","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":280,"y":500,"wires":[["e09a5d7da901da69"]]},{"id":"4d4440e93f1c341f","type":"http response","z":"7108270d35af4e25","name":"[Response] Smartsense Montagem","statusCode":"200","headers":{},"x":880,"y":520,"wires":[]},{"id":"51f57ea1166daf14","type":"debug","z":"7108270d35af4e25","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1120,"y":280,"wires":[]},{"id":"8e0aa9fdb7954fc1","type":"function","z":"7108270d35af4e25","name":"function 3","func":"let bancada = msg.payload\nmsg.topic= `insert into Bancadas(nome,vrms,irms,appm,humi,ai00,is_ativo)\nvalues(\"montagem\",\"${bancada.vrms}\",\"${bancada.vrms}\",\"${bancada.irms}\",\"${bancada.appm}\",\"${bancada.humi}\",\"${bancada.ai00}\",\"true\")`\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":360,"wires":[["4b0416dd6b08f6fd"]]},{"id":"4b0416dd6b08f6fd","type":"mysql","z":"7108270d35af4e25","mydb":"66d97b7b173c707b","name":"Executar_MYSQL","x":1130,"y":360,"wires":[["51f57ea1166daf14"]]},{"id":"e09a5d7da901da69","type":"function","z":"7108270d35af4e25","name":"Select_Montagem","func":"msg.topic = \"select from Bancadas where nome='montagem'\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":580,"wires":[["c03d47580652d668"]]},{"id":"c03d47580652d668","type":"mysql","z":"7108270d35af4e25","mydb":"66d97b7b173c707b","name":"Executar_MySQL","x":630,"y":560,"wires":[["4d4440e93f1c341f"]]},{"id":"adc79f618fe9a3ad","type":"mqtt in","z":"45907ed709d3bbf4","name":"","topic":"/smartsense/expedicao","qos":"2","datatype":"auto-detect","broker":"88e35bbaca7b2285","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":180,"wires":[["7c641f1e7c4e8b84"]]},{"id":"53646ac6c6654377","type":"debug","z":"45907ed709d3bbf4","name":"debug 7","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":140,"wires":[]},{"id":"7c641f1e7c4e8b84","type":"function","z":"45907ed709d3bbf4","name":"Remove o Status do Objeto","func":"//armazena o payload em uma variável\nlet dados = msg.payload;\n\n// Cria um novo objeto SEM o status\nlet sem_status = {\n    timestamp:dados.timestamp,\n    data:dados.data\n}\n\n//Retorna a carga para dentro do payload\nmsg.payload = sem_status\nreturn msg;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":180,"wires":[["53646ac6c6654377","31d787b257ed6b6f"]]},{"id":"16aa1024b703fbc3","type":"http response","z":"45907ed709d3bbf4","name":"[Response] SmartSense Expedicao","statusCode":"200","headers":{},"x":1080,"y":440,"wires":[]},{"id":"dac1de901b1b9d36","type":"debug","z":"45907ed709d3bbf4","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1000,"y":200,"wires":[]},{"id":"31d787b257ed6b6f","type":"function","z":"45907ed709d3bbf4","name":"function 4","func":"let bancada = msg.payload;\nmsg.topic = `insert into Bancadas(nome,vms,irms,appm,humi,ai00,is_ativo)\nvalues(Expedicao,\"${bancada.vms}\"\n,\"${bancada.irms}\",\"${bancada.appm}\",\"${bancada.humi}\",\"${bancada.ai00}\",\"true\")`\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":260,"wires":[["56396fb9a0a82819"]]},{"id":"56396fb9a0a82819","type":"mysql","z":"45907ed709d3bbf4","mydb":"66d97b7b173c707b","name":"Executar_MYSQL","x":950,"y":320,"wires":[["dac1de901b1b9d36"]]},{"id":"1b191aa82b5d907a","type":"http in","z":"45907ed709d3bbf4","name":"[Requisição] SmartSense Expedicao","url":"/api/smartsense/expedicao","method":"get","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":160,"y":440,"wires":[["044ce5915e07c01d"]]},{"id":"044ce5915e07c01d","type":"function","z":"45907ed709d3bbf4","name":"Select_Bancada_Expedicao","func":"msg.topic = \"select from Bancadas where nome='expedicao'\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":540,"wires":[["bdb70d9d89ee5f76"]]},{"id":"bdb70d9d89ee5f76","type":"mysql","z":"45907ed709d3bbf4","mydb":"66d97b7b173c707b","name":"Executar_MySQL","x":510,"y":500,"wires":[["16aa1024b703fbc3"]]},{"id":"eb9807da87809a48","type":"debug","z":"15317114a7e18c4d","name":"debug 9","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":220,"wires":[]},{"id":"d379c5b6b2016722","type":"json","z":"15317114a7e18c4d","name":"","property":"payload","action":"","pretty":false,"x":430,"y":500,"wires":[["79335103ff1cd006"]]},{"id":"96905423824cdae2","type":"http response","z":"15317114a7e18c4d","name":"[Response] Usuario Autenticar","statusCode":"200","headers":{},"x":1330,"y":680,"wires":[]},{"id":"82c5a8aeee4a93e0","type":"http in","z":"15317114a7e18c4d","name":"","url":"/api/usuario/autenticar","method":"post","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":200,"y":660,"wires":[["510731648c8c0a34"]]},{"id":"5f9bd803aa1642bb","type":"http in","z":"15317114a7e18c4d","name":"","url":"/api/usuario/listar","method":"get","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":220,"y":520,"wires":[["d379c5b6b2016722"]]},{"id":"c3d736020b14a50d","type":"json","z":"15317114a7e18c4d","name":"","property":"payload","action":"","pretty":false,"x":310,"y":300,"wires":[["ed14c72a578797f8","eb9807da87809a48"]]},{"id":"deaad71d691e559c","type":"http in","z":"15317114a7e18c4d","name":"","url":"/api/usuario/cadastrar","method":"post","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":200,"y":180,"wires":[["c3d736020b14a50d"]]},{"id":"c2a96f464117b188","type":"http in","z":"15317114a7e18c4d","name":"","url":"/api/remover/usuario","method":"delete","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":160,"y":880,"wires":[["8c5a9666ea1b18bf"]]},{"id":"8c5a9666ea1b18bf","type":"json","z":"15317114a7e18c4d","name":"","property":"payload","action":"","pretty":false,"x":270,"y":980,"wires":[["589a695339f6fd99"]]},{"id":"fe9efaf8586e71b6","type":"http response","z":"15317114a7e18c4d","name":"[Response] Usuario Remover","statusCode":"200","headers":{},"x":990,"y":820,"wires":[]},{"id":"65a79dfe8b9924d9","type":"http in","z":"15317114a7e18c4d","name":"","url":"/api/editar/usuario","method":"put","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":140,"y":1120,"wires":[["e0bd946051b19022"]]},{"id":"dec389269ada7b04","type":"http response","z":"15317114a7e18c4d","name":"[Response] Usuario Editar","statusCode":"200","headers":{},"x":830,"y":1120,"wires":[]},{"id":"07d58d8f3279d193","type":"mysql","z":"15317114a7e18c4d","mydb":"66d97b7b173c707b","name":"Executar_MYSQL","x":570,"y":1540,"wires":[["60eba458a11f33e8","4b45fdd9969b5f28"]]},{"id":"60eba458a11f33e8","type":"debug","z":"15317114a7e18c4d","name":"debug 14","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":820,"y":1600,"wires":[]},{"id":"e54050f8df9a67a9","type":"function","z":"15317114a7e18c4d","name":"Select_Usuarios_Exemplo","func":"msg.topic = \"select * from Usuarios;\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":1620,"wires":[["07d58d8f3279d193"]]},{"id":"eaf5eaf02ff215eb","type":"http in","z":"15317114a7e18c4d","name":"","url":"/teste","method":"get","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":100,"y":1520,"wires":[["e54050f8df9a67a9"]]},{"id":"4b45fdd9969b5f28","type":"http response","z":"15317114a7e18c4d","name":"","statusCode":"200","headers":{},"x":840,"y":1500,"wires":[]},{"id":"c4ccff8a2770faa8","type":"http in","z":"15317114a7e18c4d","name":"Cadastrar_Usuario","url":"/usuario/cadastrar","method":"get","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":110,"y":1880,"wires":[["630cf20516e74c4b"]]},{"id":"392808e47a76e9be","type":"mysql","z":"15317114a7e18c4d","mydb":"66d97b7b173c707b","name":"Executar_MYSQL","x":470,"y":1900,"wires":[["915f4e9f84c65f41","cb144da939a428ed"]]},{"id":"630cf20516e74c4b","type":"function","z":"15317114a7e18c4d","name":"Insert_Exemplo","func":"let usuario = msg.payload;\n\n\nmsg.topic = `Insert into Usuarios(nome,sobrenome,data_nascimento,tipo_usuario,email,senha)\n            values(${usuario.p_nome},\"sobrenome\",'0000-00-00',\"tipo_usuario\",\"email@email.com\",\"senha\")`;\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":2000,"wires":[["392808e47a76e9be"]]},{"id":"915f4e9f84c65f41","type":"debug","z":"15317114a7e18c4d","name":"debug 15","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":760,"y":2020,"wires":[]},{"id":"cb144da939a428ed","type":"http response","z":"15317114a7e18c4d","name":"","statusCode":"200","headers":{},"x":740,"y":1880,"wires":[]},{"id":"ed14c72a578797f8","type":"function","z":"15317114a7e18c4d","name":"Insert_Usuarios","func":"let usuario = msg.payload;\nmsg.topic = `insert into Usuarios(nome,sobrenome,data_nascimento,tipo_usuario,email,senha)\n            values(\"${usuario.p_nome}\",\"${usuario.p_sobrenome}\",\"${usuario.p_data}\",\"${usuario.p_tipo_usuario}\",\"${usuario.p_email}\",\"${usuario.p_senha}\")`;\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":300,"wires":[["46a83d7228921d8d"]]},{"id":"46a83d7228921d8d","type":"mysql","z":"15317114a7e18c4d","mydb":"66d97b7b173c707b","name":"Executar_MYSQL","x":810,"y":300,"wires":[["0866505d94ef39b4"]]},{"id":"0866505d94ef39b4","type":"http response","z":"15317114a7e18c4d","name":"","statusCode":"200","headers":{},"x":1160,"y":300,"wires":[]},{"id":"79335103ff1cd006","type":"function","z":"15317114a7e18c4d","name":"Select_Usuarios","func":"msg.topic = \"select * from Usuarios;\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":500,"wires":[["905d95d88b2e765a"]]},{"id":"905d95d88b2e765a","type":"mysql","z":"15317114a7e18c4d","mydb":"66d97b7b173c707b","name":"Executar_MYSQL","x":790,"y":500,"wires":[["51057759e81a0ee9"]]},{"id":"51057759e81a0ee9","type":"http response","z":"15317114a7e18c4d","name":"","statusCode":"200","headers":{},"x":1120,"y":420,"wires":[]},{"id":"589a695339f6fd99","type":"function","z":"15317114a7e18c4d","name":"Delete_Usuario","func":"let usuario = msg.payload\nmsg.topic = `delete from Usuarios where id=\"${usuario.id}\"`\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":940,"wires":[["303fb46029e1693f"]]},{"id":"4b5ecfa10ed7622e","type":"debug","z":"15317114a7e18c4d","name":"debug 18","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1000,"y":940,"wires":[]},{"id":"1a0d5d6e76199802","type":"function","z":"15317114a7e18c4d","g":"c7c440ecee907420","name":"Update_Usuario","func":"let usuario = msg.payload\nmsg.topic = `\n    update Usuarios set\n       nome= \"${usuario.p_nome}\",\n        sobrenome= \"${usuario.p_sobrenome}\",\n        data_nascimento= \"${usuario.p_data}\",\n        tipo_usuario= \"${usuario.p_tipo_usuario}\"\n    where id=\"${usuario.p_id}\"`\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":1240,"wires":[["3b9792d7ba339fbf","d824c89b9a739243"]]},{"id":"303fb46029e1693f","type":"mysql","z":"15317114a7e18c4d","mydb":"66d97b7b173c707b","name":"Executar_MYSQL","x":690,"y":920,"wires":[["fe9efaf8586e71b6","4b5ecfa10ed7622e"]]},{"id":"3b9792d7ba339fbf","type":"mysql","z":"15317114a7e18c4d","mydb":"66d97b7b173c707b","name":"Executar_MYSQL","x":610,"y":1240,"wires":[["dec389269ada7b04","175d3c75db44e329"]]},{"id":"175d3c75db44e329","type":"debug","z":"15317114a7e18c4d","name":"debug 19","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":880,"y":1240,"wires":[]},{"id":"d824c89b9a739243","type":"debug","z":"15317114a7e18c4d","name":"debug 13","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":560,"y":1120,"wires":[]},{"id":"510731648c8c0a34","type":"function","z":"15317114a7e18c4d","name":"Usuario_Autenticar","func":"let usuario = msg.payload\nmsg.topic =`\n    select id from Usuarios where email = \"${usuario.email}\" and senha = \"${usuario.senha}\"`\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":720,"wires":[["baa6c1a9846700f9"]]},{"id":"baa6c1a9846700f9","type":"mysql","z":"15317114a7e18c4d","mydb":"66d97b7b173c707b","name":"Executar_MYSQL","x":770,"y":720,"wires":[["7b1a0ddc6ca6982c","c4fafbd513946609"]]},{"id":"ccd714234d515263","type":"debug","z":"15317114a7e18c4d","name":"debug 20","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":660,"wires":[]},{"id":"c4fafbd513946609","type":"switch","z":"15317114a7e18c4d","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1090,"y":720,"wires":[["96905423824cdae2"],["72700e67b7d520e7"]]},{"id":"72700e67b7d520e7","type":"http response","z":"15317114a7e18c4d","name":"[Response] Usuario Inválido","statusCode":"401","headers":{},"x":1320,"y":740,"wires":[]},{"id":"7b1a0ddc6ca6982c","type":"debug","z":"15317114a7e18c4d","name":"debug 10","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":960,"y":620,"wires":[]},{"id":"e0bd946051b19022","type":"json","z":"15317114a7e18c4d","name":"","property":"payload","action":"","pretty":false,"x":230,"y":1160,"wires":[["1a0d5d6e76199802","09d2ba31302618fb"]]},{"id":"09d2ba31302618fb","type":"debug","z":"15317114a7e18c4d","name":"debug 11","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":1080,"wires":[]},{"id":"de0846f46d27ff5f","type":"global-config","env":[],"modules":{"node-red-node-mysql":"3.0.0","@flowfuse/node-red-dashboard":"1.30.2"}}]